<div class="container error-page">
    <div class="row align-items-center" style="height: 100vh;">
      
      <div class="col-md-6 text-center">
        <img src="/assets/images/error.png" alt="Error Image" class="img-fluid" style="max-width: 80%;">
      </div>
  
      
      <div class="col-md-6 text-center">
        <h1>Oops! Page Not Found</h1>
        <p>The page you're looking for doesn't exist or has been moved.</p>
        <a routerLink="/home" class="btn btn-warning mt-4">Go to Home</a>
      </div>
    </div>
  </div>
  