<div class="container" *ngIf="selectedCity">
    <h3>Book Your Trip Now!</h3>
    <h1>{{ selectedCity.name }}</h1>

    <img [src]="cityImage" alt="{{ selectedCity.name }}" class="img-fluid mb-4 custom-image">
    
    <p>{{ selectedCity.description }}</p>

    <button class="btn btn-warning mt-4" (click)="onBack()">Go Back</button>
</div>

<div class="container" *ngIf="!selectedCity">
    <h3>City Not Found</h3>
    <p>The city details could not be retrieved. Please go back and try again.</p>
    <button class="btn btn-warning mt-4" (click)="onBack()">Go Back</button>
</div>


