<div class="container mt-5">
  <div class="row">

    <div class="col-md-6">
      <h3>Know About Us</h3>
      <p>
        Welcome to our travel website! We specialize in providing the best travel deals and personalized experiences for our users. Whether you're planning a vacation, business trip, or a weekend getaway, we have the perfect options for you. Our platform connects you with flight deals, hotel packages, and exciting destinations worldwide. Explore, book, and embark on your next adventure with us!
      </p>
    </div>


    <div class="col-md-6">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/images/destination1.jpg" class="d-block w-100" alt="image 1">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/destination2.jpg" class="d-block w-100" alt="image 2">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/destination3.jpg" class="d-block w-100" alt="image 3">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/destination4.jpg" class="d-block w-100" alt="image 4">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/destination5.jpg" class="d-block w-100" alt="image 5">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/destination6.jpg" class="d-block w-100" alt="image 6">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/destination7.jpg" class="d-block w-100" alt="image 7">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/destination8.jpg" class="d-block w-100" alt="image 8">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
