
.hero-section {
    background-image: url('/assets/images/travel.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
    padding-top: 85vh;
    }


.hero-section h1 {
    color: #333;
    font-size: 4rem;
    text-align: center;
}

.hero-section p {
    color: #333;
    font-size: 1.5rem;
    text-align: center;
}
